<footer class="footerVip container-fluid p-5" style="position:sticky; bottom:0;">
    <div class="container p-0 text-white ">
        <div class="row">
            <div class="col-md-2">
                <img src="./img/logo to.png" alt="">
            </div>
            <div class="col-md-3">
                <h6 class="headText fs-4 fw-bold">THÔNG TIN VỀ CÔNG TY</h6>
                <ul class="list-unstyled ">
                    <li><a href="#gioi-thieu" class="text-decoration-none text-white fs-5">Giới
                            thiệu về Cát Khánh</a>
                    </li>
                    <li><a href="#" class="text-decoration-none text-white fs-5">Ưu đãi Đại Lý</a></li>
                    <li><a href="#" class="text-decoration-none text-white fs-5">Thông Tin Liên Hệ</a></li>

                </ul>
            </div>
            <div class="col-md-2">
                <h6 class="headText fs-5 fw-bold">CHÍNH SÁCH</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-white fs-5">Bảo Mật Thông Tin</a></li>
                    <li><a href="#" class="text-decoration-none text-white fs-5">Thông Tin Thanh Toán</a></li>
                    <li><a href="#" class="text-decoration-none text-white fs-5">Quy Định Đổi Trả</a></li>

                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="headText fs-5 fw-bold">ĐỊA CHỈ</h6>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt fs-5"></i> Địa chỉ: 193 Đường Phú Diễn , Nam Từ Liêm
                    </li>
                    <li><i class="fas fa-phone-alt fs-5"></i> Điện thoại: 0345.26.22.29</li>
                    <li><i class="far fa-envelope fs-5"></i> Email: binhpvph29510@fpt.edu.vn</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h6 class="headText fs-5 fw-bold"> LIÊN HỆ CÁT KHÁNH</h6>
                <img src="./img/fbCatKhanh.png" alt="">
            </div>
        </div>
    </div>
</footer>